@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins&family=Tangerine:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #444b59;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #02cea4;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
}

.top {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-top {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.heading {
  font-size: 36px;
  font-weight: 800;
}

.sub-heading {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

.sub-heading span {
  color: #02cea4;
  cursor: pointer;
}

.form {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.form form label {
  font-size: 28px;
}

.form form input {
  height: 50px;
  border: 2px solid #02cea4;
  border-radius: 80px;
  margin-bottom: 2rem;
  padding-left: 10px;
  outline: none;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.form form .remember-me label {
  font-size: 20px;
  margin-left: 1rem;
}

.form form .remember-me input {
  width: 20px;
  height: 20px;
  margin: 0;
}

.forget-password {
  font-size: 20px;
  margin-left: auto;
  color: #02cea4;
}

.form form input[type="submit"] {
  height: 60px;
  border: none;
  margin: 1rem;
  outline: none;
  background-color: #02cea4;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.bottom {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 24px;
}

.bottom span {
  color: #02cea4;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 25px;
  }

  .sub-heading {
    font-size: 15px;
  }

  .form form {
    width: 90%;
  }

  .form form label {
    font-size: 15px;
  }

  .form form input {
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .form form input[type="submit"] {
    height: 40px;
  }

  .bottom {
    font-size: 15px;
  }

  .remember-forgot {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .form form .remember-me label {
    font-size: 15px;
  }

  .form form .remember-me input {
    width: 20px;
    height: 20px;
  }

  .forget-password {
    font-size: 15px;
    margin-top: -1rem;
  }
}
