@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins&family=Tangerine:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #02cea4;
}

a:hover {
  text-decoration: underline;
}

body {
  margin-top: 100px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background: #02cea4;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* StaticPages.css */
.static-header {
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #02cea4;
}

.static-title {
  font-size: 1.3rem;
  padding: 2rem 0;
  width: 75%;
  margin: auto;
  text-align: center;
}

.static-container {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.static-contain {
  max-width: 70%;
}

.static-heading {
  margin-top: 1rem;
  color: #02cea4;
}

.static-p {
  opacity: 0.7;
  line-height: 1.6;
  text-align: justify;
}

@media screen and (max-width: 566px) {
  .static-header {
    padding: 3rem 1rem;
  }

  .static-title {
    width: 90%;
    font-size: 1rem;
  }

  .static-contain {
    max-width: 100%;
  }

  .privacy-contain {
    max-width: 100%;
  }
}

/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5vw;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-left a img {
  width: 125px;
}

.navbar .navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-left: -9rem;
}

.navbar .navbar-center .active {
  color: #02cea4;
}

.navbar .navbar-right,
.navbar-mobile {
  cursor: pointer;
}

.navbar .navbar-right .dropdown {
  position: absolute;
  top: 80px;
  right: 40px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 12px 16px;
  border-radius: 4px;
}

.navbar .navbar-center a,
.navbar .navbar-right .dropdown a {
  margin: 0 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #282c34;
  display: block;
  margin-bottom: 8px;
  height: 2rem;
}

.navbar .navbar-center a:hover,
.navbar .navbar-right .dropdown a:hover {
  color: #02cea4;
}

.navbar .navbar-right .dropdown .link-bg {
  background-color: #02cea4;
  padding: 0.8rem 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.navbar .navbar-right .dropdown .link-bg:hover {
  color: white;
}

.logout-button {
  margin: 0 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #282c34;
  display: block;
  margin-bottom: 8px;
  height: 2rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.logout-button:hover {
  color: #02cea4;
  text-decoration: underline;
}

.navbar-mobile {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    padding-left: 1rem;
    margin: 0;
  }

  .navbar .navbar-center,
  .navbar .navbar-right {
    display: none;
  }

  .navbar .navbar-mobile {
    display: block;
  }

  .navbar .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: fit-content;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    padding: 12px 16px;
    border-radius: 4px;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navbar .mobile-menu.show {
    transform: translateX(0);
  }

  .navbar .mobile-menu .close-icon {
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .navbar-profile {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar .mobile-menu .link-bg {
    background-color: #02cea4;
    padding: 0.8rem 4rem;
    text-align: center;
  }

  .navbar .mobile-menu .link-bg:hover {
    color: white;
  }

  .navbar .mobile-menu a {
    margin: 1rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #282c34;
    display: block;
    margin-bottom: 8px;
    height: auto;
  }

  .navbar .mobile-menu a:hover {
    color: #02cea4;
  }

  .navbar .mobile-menu a:last-child {
    margin-bottom: 2rem;
  }
}

/* Place, Guide, Shop */
.common-container {
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.common-container .common-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.common-container .common-header .common-headline h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #02cea4;
}

.common-container .common-header .common-search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.common-container .common-header .common-search input {
  width: 12rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: 2px solid #02cea4;
  border-radius: 10px;
  margin-right: 1rem;
  outline: none;
}

.common-container .common-header .common-search button {
  border: none;
  border-radius: 40px;
  background-color: #02cea4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
}

.common-container .common-header .common-search button:hover {
  background-color: #02b994;
}

.common-header-headline .common-header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
}

.common-header-section-div {
  width: 20%;
  height: auto;
  border: 2px solid #02cea4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-header-headline .see-more {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.divitem {
  margin-bottom: 1rem;
}

.divitem a {
  text-decoration: none;
}

.divitem a:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  .common-container {
    width: 90%;
    padding: 0;
  }

  .common-container .common-header .common-headline h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .common-container .common-header .common-search input {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }

  .common-container .common-header .common-search button {
    font-size: 15px;
  }

  .common-header-headline h2 {
    text-align: center;
    margin-bottom: 0;
    padding: 0;
  }

  .common-header-headline .common-header-section {
    justify-content: space-evenly;
  }

  .common-header-section-div {
    width: 40%;
    margin-top: 1rem;
  }

  .common-header-headline .see-more {
    padding-top: 0;
  }
}

/* Currency Exchange */
.currency-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 600px;
}

.currency-left,
.currency-right {
  display: flex;
  align-items: center;
}

.currency-left select,
.currency-right select,
.currency-left input[type="number"],
.currency-right input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid #02cea4;
  border-radius: 10px;
  outline: none;
}

.currency-middle {
  text-align: center;
  margin: 0 10px;
}

.currency-middle i {
  font-size: 20px;
}

.currency-result {
  margin-top: 20px;
  max-width: 600px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .currency-left {
    flex-direction: column;
  }

  .currency-right {
    flex-direction: column-reverse;
  }

  .currency-left select,
  .currency-right select,
  .currency-left input[type="number"],
  .currency-right input[type="number"] {
    margin-bottom: 20px;
    width: 100%;
  }

  .currency-middle {
    margin: 1rem;
    width: 25%;
  }
}

/* Language Translation */
.language-translate {
  max-width: 800px;
  width: 90%;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  margin: auto;
}

.language-translate .language-wrapper {
  border-radius: 5px;
  border: 1px solid #02cea4;
}

.language-translate .language-wrapper .language-top {
  display: flex;
  border-bottom: 1px solid #02cea4;
}

.language-translate .language-wrapper .language-top textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.language-translate .language-wrapper .language-top .lang-line {
  border: 1px solid #02cea4;
  opacity: 0.3;
}

.language-translate .language-wrapper .language-top textarea::placeholder {
  color: #b7b6b6;
}

.language-translate .language-wrapper .language-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
}

.language-translate .language-wrapper .language-bottom select {
  width: 25%;
  padding: 10px;
  border: 1px solid #02cea4;
  border-radius: 5px;
  outline: none;
}

.language-translate .language-wrapper .language-bottom i {
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .language-translate .language-wrapper .language-top {
    flex-direction: column;
  }

  .language-translate .language-wrapper .language-bottom select {
    width: 40%;
  }

  .language-translate .language-wrapper .language-bottom i {
    padding: 10px;
  }

  .language-translate .language-wrapper .language-top textarea {
    height: 150px;
  }
}

/* Home.css */
.home-container {
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.home-container .home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.home-container .home-header .home-headline h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #02cea4;
}

.home-container .home-header .home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home-container .home-header .home-search input,
.home-container .home-header .home-search select {
  width: auto;
  padding: 0.5rem 1rem;
  border: 2px solid #02cea4;
  border-radius: 10px;
  margin-right: 1rem;
  outline: none;
}

.home-container .home-header .home-search button {
  border: none;
  border-radius: 40px;
  background-color: #02cea4;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
}

.home-container .home-header .home-search button:hover {
  background-color: #02b994;
}

.home-header-headline h2 {
  padding-left: 3rem;
}

.home-container .home-header-image {
  width: 100%;
  margin: auto;
  height: 50vh;
  margin-bottom: 2rem;
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: top center;
  border-radius: 8px;
}

.home-container .home-header-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.home-header-image-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: -8%;
  height: fit-content;
  margin-bottom: 2rem;
}

.home-header-section-div {
  width: 20%;
}

.home-header-section-div img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.home-header-section-div:nth-child(1),
.home-header-section-div:nth-child(3) {
  transform: rotate(-2deg);
}

.home-header-section-div:nth-child(2),
.home-header-section-div:nth-child(4) {
  transform: rotate(2deg);
}

.home-header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: fit-content;
  margin: 2rem 0;
}

.home-header-section a:hover {
  text-decoration: none;
}

.home-header-headline .see-more {
  display: flex;
  justify-content: flex-end;
  width: 85vw;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .home-container {
    width: 90%;
    padding: 0;
  }

  .home-container .home-header .home-headline h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .home-container .home-header .home-search input,
  .home-container .home-header .home-search select {
    padding: 0.5rem 0.5rem;
  }

  .home-container .home-header .home-search button {
    font-size: 15px;
    margin-top: 1rem;
  }

  .home-container .home-header-image {
    height: 25vh;
  }

  .home-header-image-section {
    display: none;
  }

  .home-header-headline h2 {
    text-align: center;
    margin-bottom: 0;
    padding: 0;
  }

  .home-header-headline .home-header-section {
    margin: 1rem auto;
  }

  .home-header-section-div {
    width: 40%;
    margin-top: 1rem;
  }

  .home-header-headline .see-more {
    padding-top: 0;
  }
}

/* Login.css */
.login-top {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 2rem;
  margin-top: -100px;
}

.login-logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-upper-top {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.login-heading {
  font-size: 30px;
  font-weight: 800;
}

.login-sub-heading {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

.login-sub-heading span {
  color: #02cea4;
  cursor: pointer;
}

.login-form {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.login-form form label {
  font-size: 20px;
}

.login-form form input {
  height: 40px;
  border: 2px solid #02cea4;
  border-radius: 80px;
  margin: 0.5rem 0 2rem 0;
  padding-left: 10px;
  outline: none;
}

.login-form form select {
  height: 40px;
  border: 2px solid #02cea4;
  border-radius: 80px;
  margin: 0.5rem 0 2rem 0;
  padding: 0 10px;
  outline: none;
  width: 100%;
}

.login-remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.login-remember-me {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.login-form form .login-remember-me label {
  font-size: 20px;
  margin-left: 1rem;
}

.login-form form .login-remember-me input {
  width: 20px;
  height: 20px;
  margin: 0;
}

.login-forget-password {
  font-size: 20px;
  margin-left: auto;
  color: #02cea4;
}

.login-form form input[type="submit"] {
  height: 40px;
  border: none;
  margin: 1rem;
  outline: none;
  background-color: #02cea4;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-bottom {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 24px;
}

.login-bottom span {
  color: #02cea4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login-other {
    width: auto;
  }

  .login-other button {
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin-right: 1rem;
  }

  .login-upper-top {
    margin-top: none;
  }

  .login-heading {
    font-size: 25px;
  }

  .login-sub-heading {
    font-size: 15px;
  }

  .login-form form {
    width: 90%;
  }

  .login-form form label {
    font-size: 15px;
  }

  .login-form form input {
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .login-form form select {
    width: 100%;
  }

  .login-form form input[type="submit"] {
    height: 40px;
  }

  .login-bottom {
    font-size: 15px;
  }

  .login-remember-forgot {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .login-form form .login-remember-me label {
    font-size: 15px;
  }

  .login-form form .login-remember-me input {
    width: 20px;
    height: 20px;
  }

  .login-forget-password {
    font-size: 15px;
    margin-top: -1rem;
  }
}

/* Register.css */
.register-top {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 2rem;
  margin-top: -100px;
}

.register-logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-upper-top {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.register-heading {
  font-size: 30px;
  font-weight: 800;
}

.register-sub-heading {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

.register-sub-heading span {
  color: #02cea4;
  cursor: pointer;
}

.register-form {
  width: 80%;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
}

.register-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* .register-row:first-child {
  justify-content: flex-start;
} */

.register-row:last-child {
  justify-content: center;
}

.register-column {
  width: 45%;
  height: auto;
}

.register-form form label {
  font-size: 20px;
}

.register-form form input,
.register-form form select {
  height: 40px;
  width: 80%;
  border: 2px solid #02cea4;
  border-radius: 80px;
  margin: 0.5rem 0 2rem 0;
  padding-left: 10px;
  outline: none;
}

.register-form form select {
  width: 83%;
}

.register-form form input[type="submit"] {
  height: 40px;
  border: none;
  outline: none;
  background-color: #02cea4;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 30%;
}

.register-bottom {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 20px;
}

.register-bottom span {
  color: #02cea4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-upper-top {
    margin-top: none;
  }

  .register-heading {
    font-size: 25px;
    text-align: center;
  }

  .register-sub-heading {
    font-size: 15px;
  }

  .register-row {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .register-column {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .register-form form label {
    font-size: 15px;
  }

  .register-form form input,
  .register-form form select {
    height: 40px;
    margin: 1rem 0 0 0;
    width: 95%;
  }

  .register-form form select {
    width: 100%;
  }

  .register-form form input[type="submit"] {
    height: 40px;
    width: 100%;
  }

  .register-bottom {
    font-size: 15px;
    text-align: center;
  }
}

/* Profile.css */
.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.profile-container .profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
}

.profile-container .profile-header-image {
  height: 5rem;
  width: 5rem;
}

.profile-container .profile-header-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container .profile-header h3 {
  margin-top: 1rem;
  color: #02cea4;
}

.profile-container .profile-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profile-container .profile-details .profile-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5px;
  border-bottom: 1px solid black;
}

.profile-container .profile-details .profile-details-row:first-child {
  border-top: 1px solid black;
}

.profile-container .profile-details .profile-details-row:last-child {
  align-self: flex-end;
  border-bottom: none;
}

.profile-container .profile-details .profile-details-row button {
  padding: 0.5rem 1rem;
  background-color: #02cea4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.profile-container .profile-details .profile-details-row button:hover {
  background-color: #02b994;
}

.profile-container .profile-details .profile-details-row .cancel {
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.profile-container .profile-details .profile-details-row .cancel:hover {
  background-color: #ff3333;
}

hr {
  margin: 2rem auto;
}

.user-history {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.user-history h4 {
  margin-bottom: 1rem;
  color: #02cea4;
}

.profile-details .profile-details-row input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .profile-container .profile-details {
    width: 90%;
  }
}

/* Contact.css */
.contact-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-container .contact-info,
.contact-container .contact-form {
  width: 50%;
}

.contact-container .contact-info h2,
.contact-container .contact-form h2 {
  margin-bottom: 1rem;
  color: #282c34;
}

.contact-container .socials {
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
}

.contact-container .socials a {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.contact-container .socials a i:hover {
  color: #02cea4;
}

.contact-container .contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-container .contact-form form input,
.contact-container .contact-form form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-container .contact-form form button {
  padding: 0.5rem;
  background-color: #02cea4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 80%;
  }

  .contact-container .contact-info,
  .contact-container .contact-form {
    width: 100%;
  }

  .contact-container .contact-info {
    margin-top: 3rem;
  }

  .contact-container .socials {
    margin-left: 2rem;
    justify-content: left;
  }
}

/* Details.css */
.details-container {
  padding: 2rem;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.details-container .details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.details-container .details-top .details-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container .details-top .details-container-left .images-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin: auto;
}

.details-container .details-top .details-container-left .images-top img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}

.details-container .details-top .details-container-left .images-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.details-container .details-top .details-container-left .images-bottom img {
  width: 125px;
  height: auto;
  border-radius: 8px;
}

.details-container .details-top .details-container-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container .details-top .details-container-right .details-title {
  font-size: 2rem;
  color: #02cea4;
  font-weight: 700;
}

.details-container .details-top .details-container-right .details-description {
  opacity: 0.7;
  line-height: 1.6;
  text-align: justify;
  margin-top: 1rem;
}

.details-container .details-top .details-container-right .details-price p {
  font-size: 1.2rem;
  background-color: #02cea4;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: fit-content;
  margin-top: 1rem;
}

.details-container .details-top .details-container-right .details-price i {
  color: #fff;
}

.details-container .details-top .details-container-right .details-tags,
.details-container .details-top .details-container-right .guide-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.details-container .details-top .details-container-right .details-tags p,
.details-container .details-top .details-container-right .guide-area p {
  padding: 0.3rem 1.4rem;
  background-color: #ccc;
  border-radius: 2px;
  margin: 1rem 1rem 0 0.5rem;
}

.details-container
  .details-top
  .details-container-right
  .details-tags
  p:first-child,
.details-container
  .details-top
  .details-container-right
  .guide-area
  p:first-child {
  margin-left: 0;
  background-color: white;
  padding: 0;
}

.details-container .details-top .details-container-right .details-action {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.details-container
  .details-top
  .details-container-right
  .details-action
  p
  span {
  color: #fff;
}

.details-container .details-top .details-container-right .details-rating {
  margin-top: 1rem;
}

.details-container .details-top .details-container-right .event-date {
  margin-top: 1rem;
}

.details-container .details-top .details-container-right .room-details {
  display: flex;
  flex-direction: column;
}

.details-container .details-top .details-container-right .room-details p {
  margin-top: 1rem;
}

.details-container .details-top .details-container-right .guide-price p {
  margin-top: 1rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
  background-color: #02cea4;
}

.details-container .details-top .details-container-right .guide-price i {
  color: #fff;
}

.details-container .details-top .details-container-right .details-action a,
.details-container .details-top .details-container-right .details-action p {
  padding: 0.5rem 1rem;
  background-color: #02cea4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.details-container
  .details-top
  .details-container-right
  .details-action
  a:hover {
  background-color: #02b994;
}

.details-container .details-top .details-container-right .details-location {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-container
  .details-top
  .details-container-right
  .details-location
  button {
  background-color: #02cea4;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

.details-container .details-top .details-container-right .details-action p {
  cursor: default;
}

.details-container .details-top .details-container-right .details-shop {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.details-container
  .details-top
  .details-container-right
  .details-shop
  .details-shop-img
  img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.details-container
  .details-top
  .details-container-right
  .details-shop
  .details-shop-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-container
  .details-top
  .details-container-right
  .details-shop-details
  a {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .details-container {
    padding-top: 10px;
  }

  .details-container .details-top {
    flex-direction: column;
  }

  .details-container .details-top .details-container-left {
    width: 80%;
    margin-top: 1rem;
  }

  .details-container .details-top .details-container-left .images-top img {
    width: 100%;
  }

  .details-container .details-top .details-container-left .images-bottom img {
    width: 90%;
  }

  .details-container .details-top .details-container-right {
    width: 100%;
    margin-top: 2rem;
  }

  .details-container .details-top .details-container-right .details-title {
    font-size: 1.5rem;
  }

  .details-container
    .details-top
    .details-container-right
    .details-description {
    font-size: 1rem;
  }

  .details-container .details-top .details-container-right .details-price p {
    font-size: 1rem;
  }

  .details-container .details-top .details-container-right .details-tags p {
    padding: 0.5rem 1rem;
  }

  .details-container .details-top .details-container-right .details-action a,
  .details-container .details-top .details-container-right .details-action p {
    padding: 0.5rem 1rem;
  }

  .details-container .details-top .details-container-right .details-shop {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    width: 90%;
  }

  .details-container
    .details-top
    .details-container-right
    .details-shop
    .details-shop-img
    img {
    width: 50px;
    height: 50px;
  }

  .details-container
    .details-top
    .details-container-right
    .details-shop
    .details-shop-details
    a {
    font-size: 1.5rem;
  }
}

/* Footer.css */
.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0 1rem;
}

.footer .footer-text {
  margin: 2rem auto 0 auto;
  width: 50%;
}

.footer .footer-text p {
  color: white;
  opacity: 0.7;
}

.footer .footer-links {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-size: 0.8rem;
}

.footer .footer-social {
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.footer .footer-social a i {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer .footer-social a i:hover {
  color: #02cea4;
}

.footer .footer-bottom p {
  color: white;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .footer .footer-text {
    width: 90%;
  }

  .footer .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }

  .footer .footer-social {
    width: 40%;
  }
}

/* guide hire */
.guide-hire-container {
  padding: 2rem;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
}

.guide-hire-container .ghc-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guide-hire-container .ghc-left img {
  width: 40%;
  height: auto;
  border-radius: 8px;
}

.guide-hire-container .ghc-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guide-hire-container .ghc-right input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.guide-hire-container .ghc-right p {
  margin-bottom: 1rem;
}

.guide-hire-container .ghc-right button {
  padding: 0.5rem;
  background-color: #02cea4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* Admin Panel */

.admin-container {
  width: 95%;
  display: flex;
  margin: auto;
  margin-top: -100px;
}

.admin-container .admin-left {
  width: 20%;
}

.admin-container .admin-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.sidebar-top-logo img {
  width: 60%;
}

.sidebar-bottom-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar-bottom-menu ul li {
  margin-bottom: 10px;
}

.sidebar-bottom-menu ul li a {
  display: block;
  color: #282c34;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-bottom-menu ul li a:hover,
.sidebar-bottom-menu ul li a.active {
  background-color: #02cea4;
  color: white;
}

.sidebar-bottom-logout button {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
}

/* Admin Place */
.add-place-container {
  width: 80%;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-place-form {
  display: flex;
  flex-direction: column;
}

.add-place-form .place-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-place-form .place-row {
  min-width: 40%;
}

.add-place-form input[type="text"],
.add-place-form input[type="file"],
.add-place-form input[type="submit"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.add-place-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100px;
}

.add-place-form input[type="submit"] {
  background-color: #02b994;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.add-place-form input[type="submit"]:hover {
  background-color: #02cea4;
}
